body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    height: 80px;
    background-color: #56ccf2;
  }
  nav {
    flex: 2;
  }
  ul {
    display: flex;
  }
  
  li {
    list-style: none;
    margin-left: 30px;
  }
  nav ul li span{
    text-decoration: none;
    color: white;
  }
  
  nav ul li span:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  
  i {
    font-size: 50px;
  }
  